---
swagger: "2.0"
info:
  description: "Satstream API"
  version: "1.0"
  title: "Satstream API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    name: "Satstream"
    url: "https://satstream.io"
    email: "team@satstream.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.satstream.io"
basePath: "/api/v1"
schemes:
- "https"
paths:
  /addresses/{address}/balance:
    get:
      tags:
      - "Addresses"
      summary: "Get address balance"
      description: "Get the current balance of a Bitcoin address"
      operationId: "get-address-balance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
  /addresses/{address}/balance/timeframe:
    get:
      tags:
      - "Addresses"
      summary: "Get address timeframe balance"
      description: "Get the balance of a Bitcoin address for a specific timeframe"
      operationId: "get-address-timeframe-balance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      - name: "token"
        in: "query"
        description: "Token"
        required: false
        type: "string"
        enum:
        - "BTC"
        - "RUNE"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "timeframe"
        in: "query"
        description: "Timeframe"
        required: true
        type: "string"
        enum:
        - "4h"
        - "1d"
        - "1w"
        - "1m"
        x-exportParamName: "Timeframe"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
  /addresses/{address}/runes:
    get:
      tags:
      - "Addresses"
      summary: "Get address runes balance list"
      description: "Get the balance of all runes for a Bitcoin address"
      operationId: "get-address-runes-balance-list"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
  /addresses/{address}/runes/{runeid}:
    get:
      tags:
      - "Addresses"
      summary: "Get address rune balance"
      description: "Get the balance of a specific rune for a Bitcoin address"
      operationId: "get-address-rune-balance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      - name: "runeid"
        in: "path"
        description: "Rune ID"
        required: true
        type: "string"
        x-exportParamName: "Runeid"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
  /addresses/{address}/utxos:
    get:
      tags:
      - "Addresses"
      summary: "Get address non-inscription UTXOs"
      description: "Get all non-inscription UTXOs for a Bitcoin address"
      operationId: "get-address-non-inscription-utxos"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
  /blocks/current-height:
    get:
      tags:
      - "Blocks"
      summary: "Get current block height"
      description: "Get the current block height of the Bitcoin blockchain"
      operationId: "get-current-block-height"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/blocks.BlockHeight"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Error"
  /blocks/hash/{hash}:
    get:
      tags:
      - "Blocks"
      summary: "Get block by hash"
      description: "Get information about a specific block by its hash"
      operationId: "get-block-by-hash"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "hash"
        in: "path"
        description: "Block hash"
        required: true
        type: "string"
        x-exportParamName: "Hash"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/blocks.Base"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Base"
  /blocks/{height}:
    get:
      tags:
      - "Blocks"
      summary: "Get block info"
      description: "Get information about a specific block by height"
      operationId: "get-block-info"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "height"
        in: "path"
        description: "Block height"
        required: true
        type: "integer"
        x-exportParamName: "Height"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/blocks.Base"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Base"
  /blocks/{height}/transactions:
    get:
      tags:
      - "Blocks"
      summary: "Get block transactions"
      description: "Get transactions for a specific block height"
      operationId: "get-block-transactions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "height"
        in: "path"
        description: "Block height"
        required: true
        type: "integer"
        x-exportParamName: "Height"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "object"
              allOf:
              - $ref: "#/definitions/blocks.Base"
              - type: "object"
                properties:
                  data:
                    $ref: "#/definitions/github_com_satstream_ss-utils_store.TransactionDocument"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/blocks.Base"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Base"
  /fees:
    get:
      tags:
      - "Fees"
      summary: "Get recommended fees"
      description: "Get recommended fees for Bitcoin transactions"
      operationId: "get-recommended-fees"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/blocks.GetFees"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Error"
  /indexer/tx/{hash}:
    get:
      tags:
      - "Transactions"
      summary: "Get transaction"
      description: "Get a transaction by its hash"
      operationId: "get-transaction"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "hash"
        in: "path"
        description: "Transaction hash"
        required: true
        type: "string"
        x-exportParamName: "Hash"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
  /mempool/addresses/{address}/transactions:
    get:
      tags:
      - "Mempool"
      summary: "Get address mempool transactions"
      description: "Get all mempool transactions for a specific address"
      operationId: "get-address-mempool-transactions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "address"
        in: "path"
        description: "Bitcoin address"
        required: true
        type: "string"
        x-exportParamName: "Address"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "object"
              allOf:
              - $ref: "#/definitions/blocks.Base"
              - type: "object"
                properties:
                  data:
                    $ref: "#/definitions/github_com_satstream_ss-utils_rpc.BtcTx"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Error"
  /mempool/transactions:
    get:
      tags:
      - "Mempool"
      summary: "Get mempool transactions"
      description: "Get all transactions currently in the mempool"
      operationId: "get-mempool-transactions"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "object"
              allOf:
              - $ref: "#/definitions/blocks.Base"
              - type: "object"
                properties:
                  data:
                    $ref: "#/definitions/github_com_satstream_ss-utils_rpc.BtcTx"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Base"
  /mempool/transactions/{txid}:
    get:
      tags:
      - "Mempool"
      summary: "Get mempool transaction info"
      description: "Get information about a specific transaction in the mempool"
      operationId: "get-mempool-transaction-info"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "txid"
        in: "path"
        description: "Transaction ID"
        required: true
        type: "string"
        x-exportParamName: "Txid"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_7"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/blocks.Base"
  /runes:
    get:
      tags:
      - "Runes"
      summary: "Get runes info list"
      description: "Get information about all runes"
      operationId: "get-runes-info-list"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number (default: 1)"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Items per page (default: 10)"
        required: false
        type: "integer"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_8"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/responses.ErrorResponse"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/responses.ErrorResponse"
  /runes/{runeId}:
    get:
      tags:
      - "Runes"
      summary: "Get rune info"
      description: "Get detailed information about a specific rune"
      operationId: "get-runes-info"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "runeId"
        in: "path"
        description: "Rune ID"
        required: true
        type: "string"
        x-exportParamName: "RuneId"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema: {}
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/responses.ErrorResponse"
  /runes/{runeId}/holders:
    get:
      tags:
      - "Runes"
      summary: "Get rune holders"
      description: "Get a list of addresses holding a specific rune"
      operationId: "get-runes-holders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "runeId"
        in: "path"
        description: "Rune ID"
        required: true
        type: "string"
        x-exportParamName: "RuneId"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items: {}
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/responses.ErrorResponse"
  /transactions/broadcast:
    post:
      tags:
      - "Transactions"
      summary: "Broadcast transaction"
      description: "Broadcast a raw transaction to the Bitcoin network"
      operationId: "broadcast-transaction"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "transaction"
        description: "Raw transaction hex"
        required: true
        schema:
          type: "string"
        x-exportParamName: "Transaction"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_9"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
  /transactions/{txid}:
    get:
      tags:
      - "Transactions"
      summary: "Get transaction info"
      description: "Get detailed information about a specific transaction"
      operationId: "get-transaction-info"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "txid"
        in: "path"
        description: "Transaction ID"
        required: true
        type: "string"
        x-exportParamName: "Txid"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_200_10"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
  /transactions/{txid}/inputs:
    get:
      tags:
      - "Transactions"
      summary: "Get transaction inputs"
      description: "Get the inputs of a specific transaction"
      operationId: "get-transaction-inputs"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "txid"
        in: "path"
        description: "Transaction ID"
        required: true
        type: "string"
        x-exportParamName: "Txid"
      security:
      - ApiKeyAuth: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              type: "object"
              allOf:
              - $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
              - type: "object"
                properties:
                  data:
                    $ref: "#/definitions/github_com_satstream_ss-utils_rpc.Vin"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
securityDefinitions:
  ApiKeyAuth:
    type: "apiKey"
    name: "X-API-KEY"
    in: "header"
definitions:
  big.Int:
    type: "object"
  blocks.Base:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 0
      data: ""
  blocks.BlockHeight:
    type: "object"
    properties:
      code:
        type: "integer"
      data:
        $ref: "#/definitions/blocks.BlockHeightData"
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 0
      data:
        height: 6
  blocks.BlockHeightData:
    type: "object"
    properties:
      height:
        type: "integer"
    example:
      height: 6
  blocks.Error:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
  blocks.GetFees:
    type: "object"
    properties:
      code:
        type: "integer"
      data:
        $ref: "#/definitions/blocks.GetFeesData"
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 0
      data:
        confirmation_blocks: 6
        fee_rate_in_btc: 1.46581298050294517310021547018550336360931396484375
  blocks.GetFeesData:
    type: "object"
    properties:
      confirmation_blocks:
        type: "integer"
      fee_rate_in_btc:
        type: "number"
    example:
      confirmation_blocks: 6
      fee_rate_in_btc: 1.46581298050294517310021547018550336360931396484375
  github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 0
      data: ""
  github_com_satstream_ss-api_server_api_runes_responses.BaseResponse:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 5
      data: ""
  github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
    example:
      msg: "msg"
      code: 0
      data: ""
  github_com_satstream_ss-utils_ordinals.Terms:
    type: "object"
    properties:
      amount:
        $ref: "#/definitions/big.Int"
      cap:
        $ref: "#/definitions/big.Int"
      height:
        $ref: "#/definitions/github_com_satstream_ss-utils_ordinals.TermsRange"
      offset:
        $ref: "#/definitions/github_com_satstream_ss-utils_ordinals.TermsRange"
    example:
      offset: {}
      height: {}
  github_com_satstream_ss-utils_ordinals.TermsRange:
    type: "object"
    properties:
      end:
        $ref: "#/definitions/big.Int"
      start:
        $ref: "#/definitions/big.Int"
    example: {}
  github_com_satstream_ss-utils_rpc.Block:
    type: "object"
    properties:
      bits:
        type: "string"
      chainwork:
        type: "string"
      confirmations:
        type: "integer"
      difficulty:
        type: "number"
      hash:
        type: "string"
      height:
        type: "integer"
      mediantime:
        type: "integer"
      merkleroot:
        type: "string"
      nTx:
        type: "integer"
      nonce:
        type: "integer"
      previousblockhash:
        type: "string"
      size:
        type: "integer"
      strippedSize:
        type: "integer"
      time:
        type: "integer"
      tx:
        type: "array"
        description: "Txns will be stored in a separate collection in the DB"
        items:
          $ref: "#/definitions/github_com_satstream_ss-utils_rpc.BtcTx"
      version:
        type: "integer"
      versionHex:
        type: "string"
      weight:
        type: "integer"
    example:
      mediantime: 5
      tx:
      - vsize: 8
        locktime: 1
        fee: 7.3862819483858839220147274318151175975799560546875
        index: 1
        txid: "txid"
        weight: 9
        version: 6
        blockheight: 4
        vout:
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        size: 1
        hex: "hex"
        vin:
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        hash: "hash"
      - vsize: 8
        locktime: 1
        fee: 7.3862819483858839220147274318151175975799560546875
        index: 1
        txid: "txid"
        weight: 9
        version: 6
        blockheight: 4
        vout:
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        size: 1
        hex: "hex"
        vin:
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        hash: "hash"
      previousblockhash: "previousblockhash"
      bits: "bits"
      weight: 3
      strippedSize: 3
      versionHex: "versionHex"
      confirmations: 6
      nonce: 7
      version: 6
      difficulty: 1.46581298050294517310021547018550336360931396484375
      chainwork: "chainwork"
      nTx: 2
      size: 9
      merkleroot: "merkleroot"
      time: 2
      hash: "hash"
      height: 5
  github_com_satstream_ss-utils_rpc.BtcTx:
    type: "object"
    properties:
      blockheight:
        type: "integer"
      fee:
        type: "number"
      hash:
        type: "string"
      hex:
        type: "string"
      index:
        type: "integer"
      locktime:
        type: "integer"
      size:
        type: "integer"
      txid:
        type: "string"
      version:
        type: "integer"
      vin:
        type: "array"
        description: "Vin will be stored in a separate collection in the DB"
        items:
          $ref: "#/definitions/github_com_satstream_ss-utils_rpc.Vin"
      vout:
        type: "array"
        description: "Vout will be stored in a separate collection in the DB"
        items:
          $ref: "#/definitions/github_com_satstream_ss-utils_rpc.Vout"
      vsize:
        type: "integer"
      weight:
        type: "integer"
    example:
      vsize: 8
      locktime: 1
      fee: 7.3862819483858839220147274318151175975799560546875
      index: 1
      txid: "txid"
      weight: 9
      version: 6
      blockheight: 4
      vout:
      - scriptPubKey:
          address: "address"
          asm: "asm"
          hex: "hex"
          type: "type"
          desc: "desc"
        rune_holdings:
        - amount: {}
          rune_id: "rune_id"
        - amount: {}
          rune_id: "rune_id"
        value: 6.683562403749608193948006373830139636993408203125
        "n": 9
      - scriptPubKey:
          address: "address"
          asm: "asm"
          hex: "hex"
          type: "type"
          desc: "desc"
        rune_holdings:
        - amount: {}
          rune_id: "rune_id"
        - amount: {}
          rune_id: "rune_id"
        value: 6.683562403749608193948006373830139636993408203125
        "n": 9
      size: 1
      hex: "hex"
      vin:
      - sequence: 5
        coinbase: "coinbase"
        prevout:
          scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          populated: true
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 4.9652184929849543237878606305457651615142822265625
          "n": 1
          height: 7
        scriptSig:
          asm: "asm"
          hex: "hex"
        txid: "txid"
        txinwitness:
        - "txinwitness"
        - "txinwitness"
        vout: 9
      - sequence: 5
        coinbase: "coinbase"
        prevout:
          scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          populated: true
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 4.9652184929849543237878606305457651615142822265625
          "n": 1
          height: 7
        scriptSig:
          asm: "asm"
          hex: "hex"
        txid: "txid"
        txinwitness:
        - "txinwitness"
        - "txinwitness"
        vout: 9
      hash: "hash"
  github_com_satstream_ss-utils_rpc.PrevOut:
    type: "object"
    properties:
      height:
        type: "integer"
      "n":
        type: "integer"
      populated:
        type: "boolean"
        description: "* The populated field is used to determine if the prevout has\
          \ been populated from our code or automatically by the RPC on fetch"
      rune_holdings:
        type: "array"
        items:
          $ref: "#/definitions/github_com_satstream_ss-utils_rpc.UtxoRune"
      scriptPubKey:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.ScriptPubKey"
      value:
        type: "number"
    example:
      scriptPubKey:
        address: "address"
        asm: "asm"
        hex: "hex"
        type: "type"
        desc: "desc"
      populated: true
      rune_holdings:
      - amount: {}
        rune_id: "rune_id"
      - amount: {}
        rune_id: "rune_id"
      value: 4.9652184929849543237878606305457651615142822265625
      "n": 1
      height: 7
  github_com_satstream_ss-utils_rpc.ScriptPubKey:
    type: "object"
    properties:
      address:
        type: "string"
      asm:
        type: "string"
      desc:
        type: "string"
      hex:
        type: "string"
      type:
        type: "string"
    example:
      address: "address"
      asm: "asm"
      hex: "hex"
      type: "type"
      desc: "desc"
  github_com_satstream_ss-utils_rpc.ScriptSig:
    type: "object"
    properties:
      asm:
        type: "string"
      hex:
        type: "string"
    example:
      asm: "asm"
      hex: "hex"
  github_com_satstream_ss-utils_rpc.UtxoRune:
    type: "object"
    properties:
      amount:
        $ref: "#/definitions/big.Int"
      rune_id:
        type: "string"
    example:
      amount: {}
      rune_id: "rune_id"
  github_com_satstream_ss-utils_rpc.Vin:
    type: "object"
    properties:
      coinbase:
        type: "string"
      prevout:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.PrevOut"
      scriptSig:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.ScriptSig"
      sequence:
        type: "integer"
      txid:
        type: "string"
      txinwitness:
        type: "array"
        items:
          type: "string"
      vout:
        type: "integer"
    example:
      sequence: 5
      coinbase: "coinbase"
      prevout:
        scriptPubKey:
          address: "address"
          asm: "asm"
          hex: "hex"
          type: "type"
          desc: "desc"
        populated: true
        rune_holdings:
        - amount: {}
          rune_id: "rune_id"
        - amount: {}
          rune_id: "rune_id"
        value: 4.9652184929849543237878606305457651615142822265625
        "n": 1
        height: 7
      scriptSig:
        asm: "asm"
        hex: "hex"
      txid: "txid"
      txinwitness:
      - "txinwitness"
      - "txinwitness"
      vout: 9
  github_com_satstream_ss-utils_rpc.Vout:
    type: "object"
    properties:
      "n":
        type: "integer"
      rune_holdings:
        type: "array"
        items:
          $ref: "#/definitions/github_com_satstream_ss-utils_rpc.UtxoRune"
      scriptPubKey:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.ScriptPubKey"
      value:
        type: "number"
    example:
      scriptPubKey:
        address: "address"
        asm: "asm"
        hex: "hex"
        type: "type"
        desc: "desc"
      rune_holdings:
      - amount: {}
        rune_id: "rune_id"
      - amount: {}
        rune_id: "rune_id"
      value: 6.683562403749608193948006373830139636993408203125
      "n": 9
  github_com_satstream_ss-utils_store.TransactionDocument:
    type: "object"
    properties:
      address:
        type: "string"
        example: "1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2"
      blockheight:
        type: "integer"
        example: 100
      fee:
        type: "number"
        example: 0.001
      hash:
        type: "string"
        example: "0000000000000000000000000000000000000000000000000000000000000000"
      hex:
        type: "string"
        example: "0000000000000000000000000000000000000000000000000000000000000000"
      index:
        type: "integer"
        example: 0
      locktime:
        type: "integer"
        example: 0
      size:
        type: "integer"
        example: 100
      txid:
        type: "string"
        example: "8631dedfc6c46e6f923cd30e7e71cff541f205887b5cde7d0e1119121e3c563f"
      version:
        type: "integer"
        example: 1
      vsize:
        type: "integer"
        example: 100
      weight:
        type: "integer"
        example: 100
    description: "Detailed information about a transaction"
  responses.BlockRange:
    type: "object"
    properties:
      end:
        type: "integer"
      start:
        type: "integer"
  responses.ErrorResponse:
    type: "object"
    properties:
      code:
        type: "integer"
      data: {}
      msg:
        type: "string"
  responses.GetAddressBalance:
    type: "object"
    properties:
      address:
        type: "string"
        example: "bc1q..."
      balance:
        type: "string"
        example: "100.00"
    example:
      address: "bc1q..."
      balance: "100.00"
  responses.GetAddressNonInscriptionUTXOData:
    type: "object"
    properties:
      cursor:
        type: "integer"
      total:
        type: "integer"
      totalConfirmed:
        type: "integer"
      totalRunes:
        type: "integer"
      totalUnconfirmed:
        type: "integer"
      totalUnconfirmedSpend:
        type: "integer"
      utxo:
        type: "array"
        items:
          $ref: "#/definitions/responses.NonInscriptionUTXO"
    example:
      cursor: 0
      totalUnconfirmed: 5
      utxo:
      - satoshi: {}
        scriptPk: "scriptPk"
        address: "address"
        codeType: 7
        isSpent: true
        scriptType: "scriptType"
        txid: "txid"
        idx: 3
        isOpInRBF: true
        height: 9
        vout: 2
      - satoshi: {}
        scriptPk: "scriptPk"
        address: "address"
        codeType: 7
        isSpent: true
        scriptType: "scriptType"
        txid: "txid"
        idx: 3
        isOpInRBF: true
        height: 9
        vout: 2
      total: 6
      totalUnconfirmedSpend: 2
      totalRunes: 5
      totalConfirmed: 1
  responses.GetAddressRuneBalance:
    type: "object"
    properties:
      amount:
        type: "string"
        example: "52286"
      divisibility:
        type: "integer"
        example: 5
      rune:
        type: "string"
        example: "DOGGOTOTHEMOON"
      runeid:
        type: "string"
        example: "840000:3"
      spacedAmount:
        type: "string"
        example: "52.286"
      spacedRune:
        type: "string"
        example: "DOG•GO•TO•THE•MOON"
      symbol:
        type: "string"
        example: "🐕"
    example:
      symbol: "🐕"
      amount: "52286"
      spacedRune: "DOG•GO•TO•THE•MOON"
      runeid: "840000:3"
      spacedAmount: "52.286"
      divisibility: 5
      rune: "DOGGOTOTHEMOON"
  responses.GetAddressRunesBalanceListItem:
    type: "object"
    properties:
      amount:
        type: "string"
        example: "52286"
      parsedAmount:
        type: "string"
        example: "52.286"
      rune_id:
        type: "string"
        example: "840000:3"
      spacedRune:
        type: "string"
        example: "DECENTRALIZED"
    example:
      amount: "52286"
      spacedRune: "DECENTRALIZED"
      rune_id: "840000:3"
      parsedAmount: "52.286"
  responses.GetAddressTimeframeBalance:
    type: "object"
    properties:
      items:
        type: "array"
        items:
          $ref: "#/definitions/responses.GetAddressTimeframeBalanceItem"
    example:
      items:
      - balance: "balance"
        blockRange: {}
      - balance: "balance"
        blockRange: {}
  responses.GetAddressTimeframeBalanceItem:
    type: "object"
    properties:
      balance:
        type: "string"
      blockRange:
        $ref: "responses.GetAddressTimeframeBalanceItem_blockRange"
    example:
      balance: "balance"
      blockRange: {}
  responses.NonInscriptionUTXO:
    type: "object"
    properties:
      address:
        type: "string"
      codeType:
        type: "integer"
      height:
        type: "integer"
      idx:
        type: "integer"
      isOpInRBF:
        type: "boolean"
      isSpent:
        type: "boolean"
      satoshi:
        $ref: "#/definitions/big.Int"
      scriptPk:
        type: "string"
      scriptType:
        type: "string"
      txid:
        type: "string"
      vout:
        type: "integer"
    example:
      satoshi: {}
      scriptPk: "scriptPk"
      address: "address"
      codeType: 7
      isSpent: true
      scriptType: "scriptType"
      txid: "txid"
      idx: 3
      isOpInRBF: true
      height: 9
      vout: 2
  responses.RuneInfo:
    type: "object"
    properties:
      block_height:
        type: "integer"
      divisibility:
        type: "integer"
      minted:
        type: "string"
      premine:
        $ref: "#/definitions/big.Int"
      rune:
        type: "string"
      rune_id:
        type: "string"
      spaced_rune:
        type: "string"
      spacers:
        type: "integer"
      symbol:
        type: "string"
      terms:
        $ref: "#/definitions/github_com_satstream_ss-utils_ordinals.Terms"
      turbo:
        type: "boolean"
      tx_height:
        type: "integer"
      txid:
        type: "string"
    example:
      symbol: "symbol"
      turbo: true
      txid: "txid"
      rune_id: "rune_id"
      block_height: 0
      rune: "rune"
      spaced_rune: "spaced_rune"
      premine: {}
      terms:
        offset: {}
        height: {}
      tx_height: 5
      spacers: 1
      minted: "minted"
      divisibility: 6
  responses.SendRawTransaction:
    type: "object"
    properties:
      tx_hash:
        type: "string"
    example:
      tx_hash: "tx_hash"
  responses.TxInfo:
    type: "object"
    properties:
      blkid:
        type: "string"
      height:
        type: "integer"
      idx:
        type: "integer"
      inSatoshi:
        $ref: "#/definitions/big.Int"
      locktime:
        type: "integer"
      nIn:
        type: "integer"
      nInInscription:
        type: "integer"
      nLostInscription:
        type: "integer"
      nNewInscription:
        type: "integer"
      nOut:
        type: "integer"
      nOutInscription:
        type: "integer"
      outSatoshi:
        $ref: "#/definitions/big.Int"
      size:
        type: "integer"
      txid:
        type: "string"
    example:
      locktime: 1
      nLostInscription: 2
      txid: "txid"
      nNewInscription: 7
      blkid: "blkid"
      nInInscription: 5
      inSatoshi: {}
      nIn: 5
      nOut: 9
      size: 2
      idx: 6
      nOutInscription: 3
      height: 0
  inline_response_200:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/responses.GetAddressBalance"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
    example:
      data:
        address: "bc1q..."
        balance: "100.00"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
  inline_response_200_1:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/responses.GetAddressTimeframeBalance"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
    example:
      data:
        items:
        - balance: "balance"
          blockRange: {}
        - balance: "balance"
          blockRange: {}
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
  inline_response_200_2:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/responses.GetAddressRunesBalanceListItem"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
    example:
      data:
      - amount: "52286"
        spacedRune: "DECENTRALIZED"
        rune_id: "840000:3"
        parsedAmount: "52.286"
      - amount: "52286"
        spacedRune: "DECENTRALIZED"
        rune_id: "840000:3"
        parsedAmount: "52.286"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
  inline_response_200_3:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/responses.GetAddressRuneBalance"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
    example:
      data:
        symbol: "🐕"
        amount: "52286"
        spacedRune: "DOG•GO•TO•THE•MOON"
        runeid: "840000:3"
        spacedAmount: "52.286"
        divisibility: 5
        rune: "DOGGOTOTHEMOON"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
  inline_response_200_4:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/responses.GetAddressNonInscriptionUTXOData"
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse"
    example:
      data:
      - cursor: 0
        totalUnconfirmed: 5
        utxo:
        - satoshi: {}
          scriptPk: "scriptPk"
          address: "address"
          codeType: 7
          isSpent: true
          scriptType: "scriptType"
          txid: "txid"
          idx: 3
          isOpInRBF: true
          height: 9
          vout: 2
        - satoshi: {}
          scriptPk: "scriptPk"
          address: "address"
          codeType: 7
          isSpent: true
          scriptType: "scriptType"
          txid: "txid"
          idx: 3
          isOpInRBF: true
          height: 9
          vout: 2
        total: 6
        totalUnconfirmedSpend: 2
        totalRunes: 5
        totalConfirmed: 1
      - cursor: 0
        totalUnconfirmed: 5
        utxo:
        - satoshi: {}
          scriptPk: "scriptPk"
          address: "address"
          codeType: 7
          isSpent: true
          scriptType: "scriptType"
          txid: "txid"
          idx: 3
          isOpInRBF: true
          height: 9
          vout: 2
        - satoshi: {}
          scriptPk: "scriptPk"
          address: "address"
          codeType: 7
          isSpent: true
          scriptType: "scriptType"
          txid: "txid"
          idx: 3
          isOpInRBF: true
          height: 9
          vout: 2
        total: 6
        totalUnconfirmedSpend: 2
        totalRunes: 5
        totalConfirmed: 1
      github_com_satstream_ss-api_server_api_addresses_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
  inline_response_200_5:
    type: "object"
    properties:
      blocks.Base:
        $ref: "#/definitions/blocks.Base"
      data:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.Block"
    example:
      blocks.Base:
        msg: "msg"
        code: 0
        data: ""
      data:
        mediantime: 5
        tx:
        - vsize: 8
          locktime: 1
          fee: 7.3862819483858839220147274318151175975799560546875
          index: 1
          txid: "txid"
          weight: 9
          version: 6
          blockheight: 4
          vout:
          - scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 6.683562403749608193948006373830139636993408203125
            "n": 9
          - scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 6.683562403749608193948006373830139636993408203125
            "n": 9
          size: 1
          hex: "hex"
          vin:
          - sequence: 5
            coinbase: "coinbase"
            prevout:
              scriptPubKey:
                address: "address"
                asm: "asm"
                hex: "hex"
                type: "type"
                desc: "desc"
              populated: true
              rune_holdings:
              - amount: {}
                rune_id: "rune_id"
              - amount: {}
                rune_id: "rune_id"
              value: 4.9652184929849543237878606305457651615142822265625
              "n": 1
              height: 7
            scriptSig:
              asm: "asm"
              hex: "hex"
            txid: "txid"
            txinwitness:
            - "txinwitness"
            - "txinwitness"
            vout: 9
          - sequence: 5
            coinbase: "coinbase"
            prevout:
              scriptPubKey:
                address: "address"
                asm: "asm"
                hex: "hex"
                type: "type"
                desc: "desc"
              populated: true
              rune_holdings:
              - amount: {}
                rune_id: "rune_id"
              - amount: {}
                rune_id: "rune_id"
              value: 4.9652184929849543237878606305457651615142822265625
              "n": 1
              height: 7
            scriptSig:
              asm: "asm"
              hex: "hex"
            txid: "txid"
            txinwitness:
            - "txinwitness"
            - "txinwitness"
            vout: 9
          hash: "hash"
        - vsize: 8
          locktime: 1
          fee: 7.3862819483858839220147274318151175975799560546875
          index: 1
          txid: "txid"
          weight: 9
          version: 6
          blockheight: 4
          vout:
          - scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 6.683562403749608193948006373830139636993408203125
            "n": 9
          - scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 6.683562403749608193948006373830139636993408203125
            "n": 9
          size: 1
          hex: "hex"
          vin:
          - sequence: 5
            coinbase: "coinbase"
            prevout:
              scriptPubKey:
                address: "address"
                asm: "asm"
                hex: "hex"
                type: "type"
                desc: "desc"
              populated: true
              rune_holdings:
              - amount: {}
                rune_id: "rune_id"
              - amount: {}
                rune_id: "rune_id"
              value: 4.9652184929849543237878606305457651615142822265625
              "n": 1
              height: 7
            scriptSig:
              asm: "asm"
              hex: "hex"
            txid: "txid"
            txinwitness:
            - "txinwitness"
            - "txinwitness"
            vout: 9
          - sequence: 5
            coinbase: "coinbase"
            prevout:
              scriptPubKey:
                address: "address"
                asm: "asm"
                hex: "hex"
                type: "type"
                desc: "desc"
              populated: true
              rune_holdings:
              - amount: {}
                rune_id: "rune_id"
              - amount: {}
                rune_id: "rune_id"
              value: 4.9652184929849543237878606305457651615142822265625
              "n": 1
              height: 7
            scriptSig:
              asm: "asm"
              hex: "hex"
            txid: "txid"
            txinwitness:
            - "txinwitness"
            - "txinwitness"
            vout: 9
          hash: "hash"
        previousblockhash: "previousblockhash"
        bits: "bits"
        weight: 3
        strippedSize: 3
        versionHex: "versionHex"
        confirmations: 6
        nonce: 7
        version: 6
        difficulty: 1.46581298050294517310021547018550336360931396484375
        chainwork: "chainwork"
        nTx: 2
        size: 9
        merkleroot: "merkleroot"
        time: 2
        hash: "hash"
        height: 5
  inline_response_200_6:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.BtcTx"
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
    example:
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
      data:
        vsize: 8
        locktime: 1
        fee: 7.3862819483858839220147274318151175975799560546875
        index: 1
        txid: "txid"
        weight: 9
        version: 6
        blockheight: 4
        vout:
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        size: 1
        hex: "hex"
        vin:
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        hash: "hash"
  inline_response_200_7:
    type: "object"
    properties:
      blocks.Base:
        $ref: "#/definitions/blocks.Base"
      data:
        $ref: "#/definitions/github_com_satstream_ss-utils_rpc.BtcTx"
    example:
      blocks.Base:
        msg: "msg"
        code: 0
        data: ""
      data:
        vsize: 8
        locktime: 1
        fee: 7.3862819483858839220147274318151175975799560546875
        index: 1
        txid: "txid"
        weight: 9
        version: 6
        blockheight: 4
        vout:
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        - scriptPubKey:
            address: "address"
            asm: "asm"
            hex: "hex"
            type: "type"
            desc: "desc"
          rune_holdings:
          - amount: {}
            rune_id: "rune_id"
          - amount: {}
            rune_id: "rune_id"
          value: 6.683562403749608193948006373830139636993408203125
          "n": 9
        size: 1
        hex: "hex"
        vin:
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        - sequence: 5
          coinbase: "coinbase"
          prevout:
            scriptPubKey:
              address: "address"
              asm: "asm"
              hex: "hex"
              type: "type"
              desc: "desc"
            populated: true
            rune_holdings:
            - amount: {}
              rune_id: "rune_id"
            - amount: {}
              rune_id: "rune_id"
            value: 4.9652184929849543237878606305457651615142822265625
            "n": 1
            height: 7
          scriptSig:
            asm: "asm"
            hex: "hex"
          txid: "txid"
          txinwitness:
          - "txinwitness"
          - "txinwitness"
          vout: 9
        hash: "hash"
  inline_response_200_8:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/responses.RuneInfo"
      github_com_satstream_ss-api_server_api_runes_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_runes_responses.BaseResponse"
    example:
      data:
      - symbol: "symbol"
        turbo: true
        txid: "txid"
        rune_id: "rune_id"
        block_height: 0
        rune: "rune"
        spaced_rune: "spaced_rune"
        premine: {}
        terms:
          offset: {}
          height: {}
        tx_height: 5
        spacers: 1
        minted: "minted"
        divisibility: 6
      - symbol: "symbol"
        turbo: true
        txid: "txid"
        rune_id: "rune_id"
        block_height: 0
        rune: "rune"
        spaced_rune: "spaced_rune"
        premine: {}
        terms:
          offset: {}
          height: {}
        tx_height: 5
        spacers: 1
        minted: "minted"
        divisibility: 6
      github_com_satstream_ss-api_server_api_runes_responses.BaseResponse:
        msg: "msg"
        code: 5
        data: ""
  inline_response_200_9:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/responses.SendRawTransaction"
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
    example:
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
      data:
        tx_hash: "tx_hash"
  inline_response_200_10:
    type: "object"
    properties:
      data:
        $ref: "#/definitions/responses.TxInfo"
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        $ref: "#/definitions/github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse"
    example:
      github_com_satstream_ss-api_server_api_transactions_responses.BaseResponse:
        msg: "msg"
        code: 0
        data: ""
      data:
        locktime: 1
        nLostInscription: 2
        txid: "txid"
        nNewInscription: 7
        blkid: "blkid"
        nInInscription: 5
        inSatoshi: {}
        nIn: 5
        nOut: 9
        size: 2
        idx: 6
        nOutInscription: 3
        height: 0
  responses.GetAddressTimeframeBalanceItem_blockRange:
    type: "object"
    description: "Time       time.Time  `json:\"time\"`"
