openapi: 3.0.1
info:
  title: Satstream API
  description: Satstream API
  termsOfService: http://swagger.io/terms/
  contact:
    name: Satstream
    url: https://satstream.io
    email: team@satstream.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
- url: https://api.satstream.io/api/v1
paths:
  /address/{address}:
    get:
      tags:
      - Addresses
      summary: Get address info
      description: Get detailed information about a specific address
      operationId: get-address
      parameters:
      - name: address
        in: path
        description: Address
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /address/{address}/deltas:
    get:
      tags:
      - Addresses
      summary: Get address deltas
      description: Get deltas for a specific address with pagination
      operationId: get-address-deltas
      parameters:
      - name: address
        in: path
        description: Address
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_size
        in: query
        description: "Number of results per page (default: 100, max: 1000)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: start_height
        in: query
        description: Start block height
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: end_height
        in: query
        description: End block height
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cursor
        in: query
        description: Base64 encoded cursor for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressDeltasResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /address/{address}/deltas/runes:
    get:
      tags:
      - Addresses
      summary: Get address rune deltas
      description: Get rune deltas for a specific address with pagination
      operationId: get-address-rune-deltas
      parameters:
      - name: address
        in: path
        description: Address
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_size
        in: query
        description: "Number of results per page (default: 100, max: 1000)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: start_height
        in: query
        description: Start block height
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: end_height
        in: query
        description: End block height
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cursor
        in: query
        description: Cursor for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressRuneDeltasResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /address/{address}/outputs:
    get:
      tags:
      - Addresses
      summary: Get UTXOs for an address
      description: Retrieve UTXOs held by a specific address with optional type filtering
      operationId: get-address-utxos
      parameters:
      - name: address
        in: path
        description: Address
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: UTXO Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - any
          - cardinal
          - inscribed
          - runic
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressUTXOsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /address/{address}/validate:
    get:
      tags:
      - Addresses
      summary: Validate address
      description: Returns information about the given Bitcoin address
      operationId: validate-address
      parameters:
      - name: address
        in: path
        description: Bitcoin address to validate
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAddressResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /block/raw/{identifier}/decoded:
    get:
      tags:
      - Blocks
      summary: Get block by hash or height (verbosity 2)
      description: Get block by hash or height as a decoded object
      operationId: get-block-decoded
      parameters:
      - name: identifier
        in: path
        description: Block hash or height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Decoded block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockDecodedResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /block/raw/{identifier}/hex:
    get:
      tags:
      - Blocks
      summary: Get block by hash or height (verbosity 0)
      description: Get block by hash or height as a raw hex string
      operationId: get-block-hex
      parameters:
      - name: identifier
        in: path
        description: Block hash or height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockHexResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /block/raw/{identifier}/prevout:
    get:
      tags:
      - Blocks
      summary: Get block by hash or height (verbosity 3)
      description: Get block by hash or height with prevout information
      operationId: get-block-prevout
      parameters:
      - name: identifier
        in: path
        description: Block hash or height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Block with prevout information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockPrevoutResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /block/raw/{identifier}/summary:
    get:
      tags:
      - Blocks
      summary: Get block by hash or height (verbosity 1)
      description: Get block by hash or height as a summary object
      operationId: get-block-summary
      parameters:
      - name: identifier
        in: path
        description: Block hash or height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockSummaryResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /block/stats:
    post:
      tags:
      - Blocks
      summary: Get block stats
      description: Computes per block statistics for a given window
      operationId: get-block-stats
      requestBody:
        description: Block stats request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBlockStatsRequest'
        required: true
      responses:
        "200":
          description: Block stats data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockStatsResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /block/{identifier}:
    get:
      tags:
      - Blocks
      summary: Get block info by hash or height
      description: Get detailed information about a specific block by hash or height
      operationId: get-block-info
      parameters:
      - name: identifier
        in: path
        description: Block hash or height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blockchain/info:
    get:
      tags:
      - Blocks
      summary: Get blockchain information
      description: Returns an object containing various state info regarding blockchain
        processing
      operationId: get-blockchain-info
      responses:
        "200":
          description: Blockchain information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockchainInfoResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blockcount:
    get:
      tags:
      - Blocks
      summary: Get the height of the latest block
      description: Returns the height of the latest block
      operationId: get-block-count
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockCountResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blockhash:
    get:
      tags:
      - Blocks
      summary: Returns blockhash for the latest block.
      description: Returns blockhash for the latest block.
      operationId: get-latest-blockhash
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestBlockHashResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blockhash/{block_height}:
    get:
      tags:
      - Blocks
      summary: Returns blockhash of specified block.
      description: Returns blockhash of specified block.
      operationId: get-block-hash-by-height
      parameters:
      - name: block_height
        in: path
        description: Block Height
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockHashByHeightResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blockheight:
    get:
      tags:
      - Blocks
      summary: Returns the height of the latest block.
      description: Returns the height of the latest block.
      operationId: get-latest-block-height
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestBlockHeightResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blocks:
    get:
      tags:
      - Blocks
      summary: "Returns the latest block height, last 100 block hashes, and featured\
        \ inscriptions"
      description: "Returns the latest block height, last 100 block hashes, and featured\
        \ inscriptions"
      operationId: get-blocks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlocksResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /blocktime:
    get:
      tags:
      - Blocks
      summary: Get the timestamp of the latest block
      description: Returns the UNIX timestamp of when the latest block was mined
      operationId: get-latest-blocktime
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestBlockTimeResponse'
        "400":
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not Found - Block not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /chain/difficulty:
    get:
      tags:
      - Network
      summary: Get difficulty
      description: Returns the proof-of-work difficulty as a multiple of the minimum
        difficulty
      operationId: get-difficulty
      responses:
        "200":
          description: Difficulty data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDifficultyResponse'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /chain/txstats:
    post:
      tags:
      - Network
      summary: Get chain tx stats
      description: Computes statistics about the total number and rate of transactions
        in the chain
      operationId: get-chain-tx-stats
      requestBody:
        description: Chain tx stats request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChainTxStatsRequest'
        required: true
      responses:
        "200":
          description: Chain tx stats data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChainTxStatsResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /fee/estimate-raw:
    post:
      tags:
      - Fees
      summary: Estimate Raw Fee
      description: Estimates the approximate fee per kilobyte needed for a transaction
        to begin confirmation within conf_target blocks if possible.
      operationId: estimate-raw-fee
      requestBody:
        description: Fee estimation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateRawFeeRequest'
        required: true
      responses:
        "200":
          description: Fee estimation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateRawFeeResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /fee/estimate-smart:
    post:
      tags:
      - Fees
      summary: Estimate smart fee
      description: Estimates the approximate fee per kilobyte needed for a transaction
        to begin confirmation within conf_target blocks
      operationId: estimate-smart-fee
      requestBody:
        description: Fee estimation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateSmartFeeRequest'
        required: true
      responses:
        "200":
          description: Fee estimation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateSmartFeeResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /inscription/{inscription_id}:
    get:
      tags:
      - Inscriptions
      summary: Get inscription info
      description: Get information about a specific inscription
      operationId: get-inscription
      parameters:
      - name: inscription_id
        in: path
        description: Inscription ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInscriptionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /inscription/{inscription_id}/{child_index}:
    get:
      tags:
      - Inscriptions
      summary: Get inscription child info
      description: Retrieve information about a specific child of an inscription
      operationId: fetch-inscription-child
      parameters:
      - name: inscription_id
        in: path
        description: Inscription ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: child_index
        in: path
        description: Child Index
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInscriptionChildResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /inscriptions:
    get:
      tags:
      - Inscriptions
      summary: Get latest inscriptions
      description: Retrieve the latest 100 inscriptions (first page)
      operationId: get-latest-inscriptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestInscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
    post:
      tags:
      - Inscriptions
      summary: Fetch multiple inscriptions
      description: Retrieve information about multiple inscriptions
      operationId: fetch-inscriptions
      requestBody:
        description: Inscription IDs
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchInscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: inscriptions
  /inscriptions/block/{block_height}:
    get:
      tags:
      - Inscriptions
      summary: Get inscriptions in a specific block
      description: Retrieve all inscriptions in a specific block
      operationId: get-block-inscriptions
      parameters:
      - name: block_height
        in: path
        description: Block Height
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockInscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /inscriptions/block/{block_height}/{page}:
    get:
      tags:
      - Inscriptions
      summary: Get paginated inscriptions in a specific block
      description: Retrieve paginated inscriptions in a specific block
      operationId: get-block-inscriptions-page
      parameters:
      - name: block_height
        in: path
        description: Block Height
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: page
        in: path
        description: Page Number
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockInscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /inscriptions/{page}:
    get:
      tags:
      - Inscriptions
      summary: Get latest inscriptions page
      description: Retrieve a specific page of 100 inscriptions
      operationId: get-latest-inscriptions-page
      parameters:
      - name: page
        in: path
        description: Page number
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestInscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /mempool/ancestors:
    post:
      tags:
      - Mempool
      summary: Get mempool ancestors
      description: Returns all in-mempool ancestors for a transaction in the mempool
      operationId: get-mempool-ancestors
      requestBody:
        description: Mempool ancestors request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMempoolAncestorsRequest'
        required: true
      responses:
        "200":
          description: Mempool ancestors data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMempoolAncestorsResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /mempool/descendants:
    post:
      tags:
      - Mempool
      summary: Get mempool descendants
      description: Returns all in-mempool descendants for a transaction in the mempool
      operationId: get-mempool-descendants
      requestBody:
        description: Mempool descendants request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMempoolDescendantsRequest'
        required: true
      responses:
        "200":
          description: Mempool descendants data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMempoolDescendantsResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /mempool/info:
    get:
      tags:
      - Mempool
      summary: Get mempool information
      description: Returns details on the active state of the TX memory pool
      operationId: get-mempool-info
      responses:
        "200":
          description: Mempool information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMempoolInfoResponse'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /mempool/raw:
    post:
      tags:
      - Mempool
      summary: Get raw mempool
      description: Returns all transaction ids in memory pool
      operationId: get-raw-mempool
      requestBody:
        description: Raw mempool request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRawMempoolRequest'
        required: true
      responses:
        "200":
          description: Mempool transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRawMempoolResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /mempool/test-accept:
    post:
      tags:
      - Mempool
      summary: Test mempool accept
      description: Tests whether raw transactions would be accepted by mempool
      operationId: test-mempool-accept
      requestBody:
        description: Raw transactions to test
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestMempoolAcceptRequest'
        required: true
      responses:
        "200":
          description: Test results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMempoolAcceptResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /mining/info:
    get:
      tags:
      - Mining
      summary: Get mining information
      description: Returns a json object containing mining-related information
      operationId: get-mining-info
      responses:
        "200":
          description: Mining information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMiningInfoResponse'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /mining/networkhashps:
    post:
      tags:
      - Mining
      summary: Get network hash per second
      description: Returns the estimated network hashes per second based on the last
        n blocks
      operationId: get-network-hashps
      requestBody:
        description: Network hash rate parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNetworkHashPSRequest'
        required: true
      responses:
        "200":
          description: Network hash rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkHashPSResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /output/{outpoint}:
    get:
      tags:
      - Outputs
      summary: Get output info by outpoint
      description: Retrieve information about a specific UTXO using outpoint string
      operationId: get-output-by-outpoint
      parameters:
      - name: outpoint
        in: path
        description: Outpoint
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /outputs:
    post:
      tags:
      - Outputs
      summary: Get multiple outputs
      description: Retrieve information about multiple UTXOs
      operationId: get-outputs
      requestBody:
        description: Outpoints
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: outpoints
  /psbt/analyze:
    post:
      tags:
      - PSBTs
      summary: Analyze PSBT
      description: Analyzes and provides information about the current status of a
        PSBT and its inputs
      operationId: analyze-psbt
      requestBody:
        description: PSBT to analyze
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzePSBTRequest'
        required: true
      responses:
        "200":
          description: Analysis of the PSBT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzePSBTResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /psbt/combine:
    post:
      tags:
      - PSBTs
      summary: Combine PSBTs
      description: Combines multiple partially signed Bitcoin transactions into one
        transaction
      operationId: combine-psbt
      requestBody:
        description: Array of PSBTs to combine
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombinePSBTRequest'
        required: true
      responses:
        "200":
          description: Combined PSBT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinePSBTResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /psbt/create:
    post:
      tags:
      - PSBTs
      summary: Create PSBT
      description: Creates a transaction in the Partially Signed Transaction format.
        Implements the Creator role.
      operationId: create-psbt
      requestBody:
        description: Transaction parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePSBTRequest'
        required: true
      responses:
        "200":
          description: Created PSBT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePSBTResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /psbt/decode:
    post:
      tags:
      - PSBTs
      summary: Decode PSBT
      description: "Return a JSON object representing the serialized, base64-encoded\
        \ partially signed Bitcoin transaction."
      operationId: decode-psbt
      requestBody:
        description: PSBT to decode
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodePSBTRequest'
        required: true
      responses:
        "200":
          description: Decoded PSBT data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodePSBTResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /psbt/join:
    post:
      tags:
      - PSBTs
      summary: Join PSBTs
      description: Joins multiple distinct PSBTs with different inputs and outputs
        into one PSBT
      operationId: join-psbts
      requestBody:
        description: PSBTs to join
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinPSBTsRequest'
        required: true
      responses:
        "200":
          description: Combined PSBT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinPSBTsResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /rune/{identifier}:
    get:
      tags:
      - Runes
      summary: Get rune info
      description: "Retrieve information about a specific rune by name or ID (e.g.,\
        \ \"UNCOMMON•GOODS\" or \"1:0\")"
      operationId: get-rune
      parameters:
      - name: identifier
        in: path
        description: Rune Name or ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuneResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Rune not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /runes:
    get:
      tags:
      - Runes
      summary: Get latest runes
      description: Retrieve information about the last 100 inscribed runes (first
        page)
      operationId: get-latest-runes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestRunesResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Rune not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /runes/{page}:
    get:
      tags:
      - Runes
      summary: Get latest runes page
      description: Retrieve a specific page of 100 inscribed runes
      operationId: get-latest-runes-page
      parameters:
      - name: page
        in: path
        description: Page number
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestRunesResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Rune not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /sat/{number}:
    get:
      tags:
      - Satoshis
      summary: Get satoshi info
      description: Retrieve information about a specific satoshi
      operationId: get-satoshi
      parameters:
      - name: number
        in: path
        description: Satoshi Number
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSatoshiResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Satoshi not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /script/decode:
    post:
      tags:
      - Scripts
      summary: Decode Script
      description: Decode a hex-encoded script and return detailed information about
        it.
      operationId: decode-script
      requestBody:
        description: Script to decode
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeScriptRequest'
        required: true
      responses:
        "200":
          description: Decoded script data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeScriptResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /status:
    get:
      tags:
      - Status
      summary: Get server status
      description: Retrieve information about the server installation and index
      operationId: get-status
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /tx/combine:
    post:
      tags:
      - Transactions
      summary: Combine Raw Transactions
      description: Combines multiple partially signed transactions into one transaction
      operationId: combine-raw-transaction
      requestBody:
        description: Array of hex-encoded raw transactions
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.CombineRawTransactionRequest'
        required: true
      responses:
        "200":
          description: Combined raw transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombineRawTransactionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/convert-to-psbt:
    post:
      tags:
      - Transactions
      summary: Convert Raw Transaction to PSBT
      description: Converts a network serialized transaction to a PSBT. This should
        be used only with createrawtransaction and fundrawtransaction. createpsbt
        and walletcreatefundedpsbt should be used for new applications.
      operationId: convert-to-psbt
      requestBody:
        description: Raw transaction conversion parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.ConvertToPSBTRequest'
        required: true
      responses:
        "200":
          description: Converted PSBT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertToPSBTResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/create:
    post:
      tags:
      - Transactions
      summary: Create Raw Transaction
      description: "Creates a raw transaction spending the given inputs and creating\
        \ new outputs. Note that the transaction's inputs are not signed, and it is\
        \ not stored in the wallet or transmitted to the network."
      operationId: create-raw-transaction
      requestBody:
        description: Transaction parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.CreateRawTxRequest'
        required: true
      responses:
        "200":
          description: Created raw transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRawTransactionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/out:
    post:
      tags:
      - Transactions
      summary: Get transaction output
      description: Returns details about an unspent transaction output
      operationId: get-tx-out
      requestBody:
        description: Transaction output request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.GetTxOutRequest'
        required: true
      responses:
        "200":
          description: Transaction output details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTxOutResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Transaction output not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/out/set/info:
    post:
      tags:
      - Transactions
      summary: Get transaction output set information
      description: Returns statistics about the unspent transaction output set
      operationId: get-tx-out-set-info
      requestBody:
        description: UTXO set info request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.GetTxOutSetInfoRequest'
        required: true
      responses:
        "200":
          description: UTXO set information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/outproof:
    post:
      tags:
      - Transactions
      summary: Get transaction output proof
      description: Returns a hex-encoded proof that one or more specified transactions
        were included in a block
      operationId: get-tx-out-proof
      requestBody:
        description: Transaction proof request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.GetTxOutProofRequest'
        required: true
      responses:
        "200":
          description: Transaction proof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTxOutProofResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/outproof/verify:
    post:
      tags:
      - Transactions
      summary: Verify transaction output proof
      description: Verifies that a proof points to a transaction in a block
      operationId: verify-tx-out-proof
      requestBody:
        description: Proof to verify
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.VerifyTxOutProofRequest'
        required: true
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyTxOutProofResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/send:
    post:
      tags:
      - Transactions
      summary: Send raw transaction
      description: Submits a raw transaction to local node and network
      operationId: send-raw-transaction
      requestBody:
        description: Raw transaction to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.SendRawTransactionRequest'
        required: true
      responses:
        "200":
          description: Transaction ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendRawTransactionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/spending-prevout:
    post:
      tags:
      - Transactions
      summary: Get transaction spending prevout
      description: Scans the mempool to find transactions spending any of the given
        outputs
      operationId: get-tx-spending-prevout
      requestBody:
        description: Transaction spending prevout request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction.GetTxSpendingPrevoutRequest'
        required: true
      responses:
        "200":
          description: Transaction spending prevout information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTxSpendingPrevoutResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: request
  /tx/{txid}/hex:
    get:
      tags:
      - Transactions
      summary: Get raw transaction (verbosity 0)
      description: Get raw transaction as a raw hex string
      operationId: get-raw-transaction-hex
      parameters:
      - name: txid
        in: path
        description: Transaction ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Raw transaction hex
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRawTransactionHexResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /tx/{txid}/inscriptions:
    get:
      tags:
      - Transactions
      summary: Decode transaction inscriptions
      description: Decodes a transaction and returns its inscriptions and runestone
        data
      operationId: decode-tx-inscriptions
      parameters:
      - name: txid
        in: path
        description: Transaction ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeTransactionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /tx/{txid}/raw/decode:
    get:
      tags:
      - Transactions
      summary: Get raw transaction (verbosity 1)
      description: Get raw transaction with basic decoded information
      operationId: get-raw-transaction
      parameters:
      - name: txid
        in: path
        description: Transaction ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Decoded transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRawTransactionDecodeResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
  /tx/{txid}/raw/prevout:
    get:
      tags:
      - Transactions
      summary: Get raw transaction with prevouts (verbosity 2)
      description: Get raw transaction with prevout information
      operationId: get-raw-transaction-prevout
      parameters:
      - name: txid
        in: path
        description: Transaction ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Transaction with prevout information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRawTransactionPrevoutResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "404":
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
        "500":
          description: Internal server error or Bitcoin RPC error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/utils.ResponseEnvelope'
      security:
      - ApiKeyAuth: []
components:
  schemas:
    AddressResponse:
      type: object
      properties:
        inscriptions:
          type: array
          items:
            type: string
        outputs:
          type: array
          items:
            type: string
        runes_balances:
          type: array
          items:
            $ref: '#/components/schemas/RunesBalance'
        sat_balance:
          type: integer
      example:
        outputs:
        - outputs
        - outputs
        runes_balances:
        - spaced_rune: spaced_rune
          symbol: symbol
          amount: amount
        - spaced_rune: spaced_rune
          symbol: symbol
          amount: amount
        inscriptions:
        - inscriptions
        - inscriptions
        sat_balance: 6
    AnalyzePSBTRequest:
      type: object
      properties:
        psbt:
          type: string
          description: The base64-encoded PSBT to analyze
    AnalyzePSBTResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          $ref: '#/components/schemas/PSBTAnalysis'
        msg:
          type: string
      example:
        msg: msg
        code: 0
        data:
          next: next
          estimated_feerate: 6.027456183070403
          inputs:
          - next: next
            is_final: true
            missing:
              pubkeys:
              - pubkeys
              - pubkeys
              witnessscript: witnessscript
              redeemscript: redeemscript
              signatures:
              - signatures
              - signatures
            has_utxo: true
          - next: next
            is_final: true
            missing:
              pubkeys:
              - pubkeys
              - pubkeys
              witnessscript: witnessscript
              redeemscript: redeemscript
              signatures:
              - signatures
              - signatures
            has_utxo: true
          fee: 5.962133916683182
          error: error
          estimated_vsize: 1
    Bip32Deriv:
      type: object
      properties:
        master_fingerprint:
          type: string
          description: The fingerprint of the master key
        path:
          type: string
          description: The derivation path
      example:
        path: path
        master_fingerprint: master_fingerprint
    Block1:
      type: object
      properties:
        bits:
          type: string
        chainwork:
          type: string
        confirmations:
          type: integer
        difficulty:
          type: number
        hash:
          type: string
        height:
          type: integer
        mediantime:
          type: integer
        merkleroot:
          type: string
        nTx:
          type: integer
        nextblockhash:
          type: string
        nonce:
          type: integer
        previousblockhash:
          type: string
        size:
          type: integer
        strippedsize:
          type: integer
        time:
          type: integer
        tx:
          type: array
          items:
            type: string
        version:
          type: integer
        versionHex:
          type: string
        weight:
          type: integer
      example:
        mediantime: 5
        tx:
        - tx
        - tx
        previousblockhash: previousblockhash
        bits: bits
        weight: 7
        versionHex: versionHex
        confirmations: 6
        nonce: 7
        version: 4
        nextblockhash: nextblockhash
        difficulty: 1.4658129805029452
        chainwork: chainwork
        nTx: 2
        size: 9
        merkleroot: merkleroot
        strippedsize: 3
        time: 2
        hash: hash
        height: 5
    Block2:
      type: object
      properties:
        bits:
          type: string
        chainwork:
          type: string
        confirmations:
          type: integer
        difficulty:
          type: number
        hash:
          type: string
        height:
          type: integer
        mediantime:
          type: integer
        merkleroot:
          type: string
        nTx:
          type: integer
        nextblockhash:
          type: string
        nonce:
          type: integer
        previousblockhash:
          type: string
        size:
          type: integer
        strippedsize:
          type: integer
        time:
          type: integer
        tx:
          type: array
          description: List of detailed transactions
          items:
            $ref: '#/components/schemas/BtcTx2'
        version:
          type: integer
        versionHex:
          type: string
        weight:
          type: integer
      example:
        mediantime: 5
        tx:
        - vsize: 4
          locktime: 7
          size: 1
          fee: 4.145608029883936
          txid: txid
          weight: 5
          hex: hex
          vin:
          - sequence: 1
            coinbase: coinbase
            scriptSig: ""
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          - sequence: 1
            coinbase: coinbase
            scriptSig: ""
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          version: 1
          hash: hash
          vout:
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
        - vsize: 4
          locktime: 7
          size: 1
          fee: 4.145608029883936
          txid: txid
          weight: 5
          hex: hex
          vin:
          - sequence: 1
            coinbase: coinbase
            scriptSig: ""
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          - sequence: 1
            coinbase: coinbase
            scriptSig: ""
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          version: 1
          hash: hash
          vout:
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
        previousblockhash: previousblockhash
        bits: bits
        weight: 9
        versionHex: versionHex
        confirmations: 6
        nonce: 7
        version: 9
        nextblockhash: nextblockhash
        difficulty: 1.4658129805029452
        chainwork: chainwork
        nTx: 2
        size: 9
        merkleroot: merkleroot
        strippedsize: 3
        time: 2
        hash: hash
        height: 5
    Block3:
      type: object
      properties:
        bits:
          type: string
        chainwork:
          type: string
        confirmations:
          type: integer
        difficulty:
          type: number
        hash:
          type: string
        height:
          type: integer
        mediantime:
          type: integer
        merkleroot:
          type: string
        nTx:
          type: integer
        nextblockhash:
          type: string
        nonce:
          type: integer
        previousblockhash:
          type: string
        size:
          type: integer
        strippedsize:
          type: integer
        time:
          type: integer
        tx:
          type: array
          description: List of fully detailed transactions
          items:
            $ref: '#/components/schemas/BtcTx3'
        version:
          type: integer
        versionHex:
          type: string
        weight:
          type: integer
      example:
        mediantime: 5
        tx:
        - vsize: 7
          locktime: 7
          size: 1
          fee: 4.145608029883936
          txid: txid
          weight: 1
          hex: hex
          vin:
          - sequence: 1
            coinbase: coinbase
            prevout: ""
            scriptSig:
              asm: asm
              hex: hex
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          - sequence: 1
            coinbase: coinbase
            prevout: ""
            scriptSig:
              asm: asm
              hex: hex
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          version: 1
          hash: hash
          vout:
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
        - vsize: 7
          locktime: 7
          size: 1
          fee: 4.145608029883936
          txid: txid
          weight: 1
          hex: hex
          vin:
          - sequence: 1
            coinbase: coinbase
            prevout: ""
            scriptSig:
              asm: asm
              hex: hex
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          - sequence: 1
            coinbase: coinbase
            prevout: ""
            scriptSig:
              asm: asm
              hex: hex
            txid: txid
            txinwitness:
            - txinwitness
            - txinwitness
            vout: 6
          version: 1
          hash: hash
          vout:
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
          - scriptPubKey:
              address: address
              asm: asm
              hex: hex
              type: type
              desc: desc
            value: 1.1730742509559433
            "n": 7
        previousblockhash: previousblockhash
        bits: bits
        weight: 5
        versionHex: versionHex
        confirmations: 6
        nonce: 7
        version: 4
        nextblockhash: nextblockhash
        difficulty: 1.4658129805029452
        chainwork: chainwork
        nTx: 2
        size: 9
        merkleroot: merkleroot
        strippedsize: 3
        time: 2
        hash: hash
        height: 5
    BlockResponse:
      type: object
      properties:
        best_height:
          type: integer
        hash:
          type: string
        height:
          type: integer
        inscriptions:
          type: array
          items:
            type: string
        runes:
          type: array
          items:
            type: string
        target:
          type: string
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
      example:
        runes:
        - runes
        - runes
        best_height: 6
        inscriptions:
        - inscriptions
        - inscriptions
        transactions:
        - lock_time: 5
          output:
          - script_pubkey: script_pubkey
            value: 2
          - script_pubkey: script_pubkey
            value: 2
          input:
          - sequence: 5
            witness:
            - witness
            - witness
            previous_output: previous_output
            script_sig: script_sig
          - sequence: 5
            witness:
            - witness
            - witness
            previous_output: previous_output
            script_sig: script_sig
          version: 7
        - lock_time: 5
          output:
          - script_pubkey: script_pubkey
            value: 2
          - script_pubkey: script_pubkey
            value: 2
          input:
          - sequence: 5
            witness:
            - witness
            - witness
            previous_output: previous_output
            script_sig: script_sig
          - sequence: 5
            witness:
            - witness
            - witness
            previous_output: previous_output
            script_sig: script_sig
          version: 7
        hash: hash
        height: 1
        target: target
    BlockStats:
      type: object
      properties:
        avgfee:
          type: number
          description: Average fee in the block
        avgfeerate:
          type: number
          description: Average feerate (in satoshis per virtual byte)
        avgtxsize:
          type: number
          description: Average transaction size
        blockhash:
          type: string
          description: The block hash (to check for potential reorgs)
        feerate_percentiles:
          type: array
          description: "Feerates at the 10th, 25th, 50th, 75th, and 90th percentile"
          items:
            type: number
        height:
          type: integer
          description: The height of the block
        ins:
          type: integer
          description: The number of inputs (excluding coinbase)
        maxfee:
          type: number
          description: Maximum fee in the block
        maxfeerate:
          type: number
          description: Maximum feerate (in satoshis per virtual byte)
        maxtxsize:
          type: integer
          description: Maximum transaction size
        medianfee:
          type: number
          description: Truncated median fee in the block
        mediantime:
          type: integer
          description: The block median time past
        mediantxsize:
          type: integer
          description: Truncated median transaction size
        minfee:
          type: number
          description: Minimum fee in the block
        minfeerate:
          type: number
          description: Minimum feerate (in satoshis per virtual byte)
        mintxsize:
          type: integer
          description: Minimum transaction size
        outs:
          type: integer
          description: The number of outputs
        subsidy:
          type: number
          description: The block subsidy
        swtotal_size:
          type: integer
          description: Total size of all segwit transactions
        swtotal_weight:
          type: integer
          description: Total weight of all segwit transactions
        swtxs:
          type: integer
          description: The number of segwit transactions
        time:
          type: integer
          description: The block time
        total_out:
          type: number
          description: Total amount in all outputs
        total_size:
          type: integer
          description: Total size of all non-coinbase transactions
        total_weight:
          type: integer
          description: Total weight of all non-coinbase transactions
        totalfee:
          type: number
          description: The fee total
        txs:
          type: integer
          description: The number of transactions (excluding coinbase)
        utxo_increase:
          type: integer
          description: The increase/decrease in the number of unspent outputs
        utxo_size_inc:
          type: integer
          description: The increase/decrease in size for the utxo index
      example:
        avgfee: 6.027456183070403
        avgfeerate: 1.4658129805029452
        subsidy: 1.1730742509559433
        swtxs: 9
        avgtxsize: 5.962133916683182
        utxo_increase: 6
        maxtxsize: 2
        total_weight: 9
        minfee: 1.0246457001441578
        total_out: 6.683562403749608
        swtotal_size: 4
        swtotal_weight: 5
        outs: 7
        blockhash: blockhash
        totalfee: 6.438423552598547
        maxfeerate: 3.616076749251911
        medianfee: 4.145608029883936
        height: 2
        feerate_percentiles:
        - 5.637376656633329
        - 5.637376656633329
        mediantime: 7
        minfeerate: 1.4894159098541704
        total_size: 8
        maxfee: 9.301444243932576
        mediantxsize: 1
        txs: 3
        ins: 7
        mintxsize: 6
        time: 9
        utxo_size_inc: 1
    BlockVin2:
      type: object
      properties:
        coinbase:
          type: string
          description: Coinbase transaction input
        scriptSig:
          type: object
          description: The script signature
          allOf:
          - $ref: '#/components/schemas/ScriptSig'
        sequence:
          type: integer
          description: Input sequence number
        txid:
          type: string
          description: Transaction ID of the referenced output
        txinwitness:
          type: array
          items:
            type: string
        vout:
          type: integer
          description: Index of the referenced output
      example:
        sequence: 1
        coinbase: coinbase
        scriptSig: ""
        txid: txid
        txinwitness:
        - txinwitness
        - txinwitness
        vout: 6
    BlockVin3:
      type: object
      properties:
        coinbase:
          type: string
        prevout:
          type: object
          description: Detailed previous output
          allOf:
          - $ref: '#/components/schemas/PrevOut'
        scriptSig:
          $ref: '#/components/schemas/ScriptSig'
        sequence:
          type: integer
        txid:
          type: string
        txinwitness:
          type: array
          items:
            type: string
        vout:
          type: integer
      example:
        sequence: 1
        coinbase: coinbase
        prevout: ""
        scriptSig:
          asm: asm
          hex: hex
        txid: txid
        txinwitness:
        - txinwitness
        - txinwitness
        vout: 6
    BlockchainInfo:
      type: object
      properties:
        bestblockhash:
          type: string
          description: The hash of the currently best block
        blocks:
          type: integer
          description: The height of the most-work fully-validated chain
        chain:
          type: string
          description: "Current network name (main, test, signet, regtest)"
        chainwork:
          type: string
          description: "Total amount of work in active chain, in hexadecimal"
        difficulty:
          type: number
          description: The current difficulty
        headers:
          type: integer
          description: The current number of headers we have validated
        mediantime:
          type: integer
          description: The median block time expressed in UNIX epoch time
        time:
          type: integer
          description: The block time expressed in UNIX epoch time
      example:
        difficulty: 1.4658129805029452
        headers: 5
        chain: chain
        chainwork: chainwork
        mediantime: 5
        blocks: 6
        time: 2
        bestblockhash: bestblockhash
    BlocksResponse:
      type: object
      properties:
        blocks:
          type: array
          items:
            type: string
        featured_blocks:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        last:
          type: integer
      example:
        last: 6
        blocks:
        - blocks
        - blocks
        featured_blocks:
          key:
          - featured_blocks
          - featured_blocks
    BtcTx2:
      type: object
      properties:
        fee:
          type: number
        hash:
          type: string
        hex:
          type: string
        locktime:
          type: integer
        size:
          type: integer
        txid:
          type: string
        version:
          type: integer
        vin:
          type: array
          items:
            $ref: '#/components/schemas/BlockVin2'
        vout:
          type: array
          items:
            $ref: '#/components/schemas/Vout'
        vsize:
          type: integer
        weight:
          type: integer
      example:
        vsize: 4
        locktime: 7
        size: 1
        fee: 4.145608029883936
        txid: txid
        weight: 5
        hex: hex
        vin:
        - sequence: 1
          coinbase: coinbase
          scriptSig: ""
          txid: txid
          txinwitness:
          - txinwitness
          - txinwitness
          vout: 6
        - sequence: 1
          coinbase: coinbase
          scriptSig: ""
          txid: txid
          txinwitness:
          - txinwitness
          - txinwitness
          vout: 6
        version: 1
        hash: hash
        vout:
        - scriptPubKey:
            address: address
            asm: asm
            hex: hex
            type: type
            desc: desc
          value: 1.1730742509559433
          "n": 7
        - scriptPubKey:
            address: address
            asm: asm
            hex: hex
            type: type
            desc: desc
          value: 1.1730742509559433
          "n": 7
    BtcTx3:
      type: object
      properties:
        fee:
          type: number
        hash:
          type: string
        hex:
          type: string
        locktime:
          type: integer
        size:
          type: integer
        txid:
          type: string
        version:
          type: integer
        vin:
          type: array
          items:
            $ref: '#/components/schemas/BlockVin3'
        vout:
          type: array
          items:
            $ref: '#/components/schemas/Vout'
        vsize:
          type: integer
        weight:
          type: integer
      example:
        vsize: 7
        locktime: 7
        size: 1
        fee: 4.145608029883936
        txid: txid
        weight: 1
        hex: hex
        vin:
        - sequence: 1
          coinbase: coinbase
          prevout: ""
          scriptSig:
            asm: asm
            hex: hex
          txid: txid
          txinwitness:
          - txinwitness
          - txinwitness
          vout: 6
        - sequence: 1
          coinbase: coinbase
          prevout: ""
          scriptSig:
            asm: asm
            hex: hex
          txid: txid
          txinwitness:
          - txinwitness
          - txinwitness
          vout: 6
        version: 1
        hash: hash
        vout:
        - scriptPubKey:
            address: address
            asm: asm
            hex: hex
            type: type
            desc: desc
          value: 1.1730742509559433
          "n": 7
        - scriptPubKey:
            address: address
            asm: asm
            hex: hex
            type: type
            desc: desc
          value: 1.1730742509559433
          "n": 7
    ChainTxStats:
      type: object
      properties:
        time:
          type: integer
          description: The timestamp for the final block in the window
        txcount:
          type: integer
          description: The total number of transactions in the chain
        txrate:
          type: number
          description: The average rate of transactions per second
        window_block_count:
          type: integer
          description: Size of the window in number of blocks
        window_final_block_hash:
          type: string
          description: The hash of the final block in the window
        window_final_block_height:
          type: integer
          description: The height of the final block in the window
        window_interval:
          type: integer
          description: The elapsed time in the window in seconds
        window_tx_count:
          type: integer
          description: The number of transactions in the window
      example:
        window_tx_count: 9
        window_final_block_hash: window_final_block_hash
        txcount: 1
        txrate: 5.962133916683182
        window_block_count: 5
        time: 6
        window_final_block_height: 2
        window_interval: 7
    CombinePSBTRequest:
      required:
      - psbts
      type: object
      properties:
        psbts:
          minItems: 1
          type: array
          description: Array of base64-encoded PSBTs to combine
          items:
            type: string
    CombinePSBTResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: string
        msg:
          type: string
      example:
        msg: msg
        code: 0
        data: data
    CombineRawTransactionResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: string
        msg:
          type: string
      example:
        msg: msg
        code: 0
        data: data
    ConvertToPSBTResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: string
        msg:
          type: string
      example:
        msg: msg
        code: 0
        data: data
    CreatePSBTInput:
      type: object
      properties:
        sequence:
          type: integer
          description: The sequence number to use for the input
        txid:
          type: string
          description: The transaction id of the output to spend
        vout:
          type: integer
          description: The output index number (vout) of the output to spend
    CreatePSBTRequest:
      required:
      - inputs
      - outputs
      type: object
      properties:
        inputs:
          minItems: 1
          type: array
          description: The inputs for the transaction
          items:
            $ref: '#/components/schemas/CreatePSBTInput'
        locktime:
          type: integer
          description: Raw locktime. Non-0 value also locktime-activates inputs
        outputs:
          minItems: 1
          type: array
          description: "The outputs (address:amount pairs or {\"data\":\"hex\"})"
[...]
